{{!-- {{> post-data post }} --}}
<div class="col-9">
    <article class="card padded">
        <div class="title allPost">
            <h3>{{post.title}}</h3>
        </div>
        <div class="">
            <em>Posted by {{post.user.username}} on {{format_date post.created_at}}</em>
        </div>
        <div class="body padded">
            {{post.body}}
        </div>
    </article>

    {{!-- add comment --}}
    
<section>
  <h2 class="sub-title">
    Post Comments
  </h2> 
  <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
  {{> comments post.comments}}
{{#if loggedIn}}
<form class="comment-form" id="comment-form">
  <div class="post-div">
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn">Add comment</button>
  </div>
</form>
</section>
    {{/if}}

</div>
{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
{{/if}}